packages

prjRecantoDaVovo/classes/execucao.cs

prjRecantoDaVovo/bin/Debug/*

.vs/prjRecantoDaVovo/v16/.suo

prjRecantoDaVovo/obj/Debug/prjRecantoDaVovo.csproj.GenerateResource.cache

prjRecantoDaVovo/obj/Debug/prjRecantoDaVovo.exe

prjRecantoDaVovo/obj/Debug/prjRecantoDaVovo.pdb
